html {
    background-color: #141414;
    color: #d3bc5f;
}

h3 {
    color: #beb7c8;
    font-size: 1.2em;
}

.signature {
    margin-top: 4px;
}

.doc_signature {
    margin-top: 4px;
    color: #44849b;
    font-size: 1.2em;
}
