html {
    background-color: #dae2eb;
    color: #434340;
}

h3 {
    color: #3399ff;
    font-size: 1.2em;
}

.signature {
    margin-top: 4px;
}

.content {
    font-weight: bold;
}

.doc_signature {
    margin-top: 4px;
    color: #6c7532;
    font-size: 1.2em;
    font-weight: bold;
}
