html, body { padding: 0; margin: 0; }

div.anaconda {
    background-color: color(var(--background) blend(gray 80%));
    display:  block;
    padding:  0.5rem;
}

.anaconda h3 {
    font-weight: bold;
    font-size: 1.05rem;
}

.anaconda .signature {
    font-weight: bold;
}

.anaconda .doc_signature {
    font-weight: bold;
    font-size: 1.05em;
}
