*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sublime Text
*.sublime-project
*.sublime-workspace

# Don't track Main.sublime-menu anymore
Main.sublime-menu
*.pickle

# don't track .disabled_views
.disabled_views

# mypy cache
.mypy_cache/
